#itempannel{
  height: 100%;
  position: absolute;
  left: 0px;
  top: 42px;
  z-index: 2;
  background: #F7F9FB;
  width: 200px;
  padding-top: 8px;
  border-right: 1px solid #E6E9ED;
}
#itempannel img{
  width: 92px;
  height: 96px;
  padding: 4px;
  margin-left: 4px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0);
}
#itempannel img:hover{
  cursor: move;
  border: 1px solid #ccc;
}
#itempannel item {
  color: rgba(0,0,0,0.65);
  border-radius: 4px;
  width: 160px;
  height: 28px;
  line-height: 26px;
  padding-left: 8px;
  border: 1px solid rgba(0,0,0,0);
  list-style-type: none;
}
#itempannel .item {
  color: rgba(0,0,0,0.65);
  border-radius: 4px;
  width: 160px;
  height: 28px;
  line-height: 26px;
  padding-left: 8px;
  border: 1px solid rgba(0,0,0,0);
  list-style-type: none;
  margin-left: 16px;
}
#itempannel .item .pannel-type-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  background: url(https://gw.alipayobjects.com/zos/rmsportal/czNEJAmyDpclFaSucYWB.svg);
}
#itempannel .item:hover {
  background: white;
  border: 1px solid #CED4D9;
  cursor: move;
}
